*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a{
    color: white;
    text-decoration: none;
}
.boxed{
    margin: 0 auto;
    width: 65%;
    min-width: 600px;
}
.flexbox{
    display:flex;
}

/* ----------------------------HEADER------------------------- */
header{
    position: fixed;            /* l'header rimane bloccato in alto  */
    top:0;
    left:0;
    z-index:2;                  /* lo porto in alto così nulla si sovrappone */ 
    width: 100%;
    color:white;
    padding: 2rem 0;
    background-color: rgb(255, 123, 0);
    box-shadow: 0 0.1rem 0.6rem rgb(99, 99, 99);   /* aggiungo un'ombra */
}

/* posiziono gli elementi dell'header con position absolute rispetto al NAV relative */
#nav{
    position:relative;          
}
#reparti{
    position:absolute;
    top:50%;                      /* sposto l'elemento della metà dell'altezza del contenitore */
    left:0;
    transform: translateY(-50%);  /* centro l'elemento spostando in alto di metà altezza dell'elemento */
}
#reparti ul{
    gap: 0.8rem;
    font-weight: 800;
}
#logo{
    position:absolute;
    top:50%;                            /* sposto l'elemento della metà dell'altezza del contenitore */
    left:50%;                           /* sposto l'elemento della metà della larghezza del contenitore */
    transform: translate(-50%,-50%);    /* centro l'elemento spostando in alto e a sinistra di metà altezza dell'elemento */
}
#logo img{
    width:10rem;
}
#icons{
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}
#icons ul{
    gap:0.5rem;
}

/* ----------------------------MAIN------------------------- */

#shop{
    flex-wrap: wrap;
    margin: 7rem auto 3rem;
    gap: 2rem;
}
.card{
    flex:1 1 30%;
}
.photo{
    position:relative;         /*  le immagini si posizionano a partire dal box contenitore .photo*/
}
.photo_A img{
    width: 100%;
}
.photo_B{
    position: absolute;         /* posiziono la seconda foto in modo che si sovrapponga alla prima */
    top:0;
    z-index: -1;                /* mando la foto sotto la prima */         
}
.photo_B img{
    width: 100%;
}
.photo:hover .photo_B{
    z-index: 0;                 /* dichiarandolo dopo passa avanti photo_A */
}

/* ALTERNATIVA - FOTO_A DIVENTA TRASPARENTE
.photo:hover .photo_A{
    opacity: 0;
} 
*/

.photo_like{
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;         /* posiziono il "like" in alto a destra */
    top: 3%;
    right: 0;
}
.photo_like i:hover{            /*  quando passo sul cuore diventa rosso */
    cursor: pointer;
    color:red;                
}
.photo_label{
    position: absolute;        /*  posiziono l'etichetta in basso a sinistra */
    bottom: 10%;
    display: flex;             /* affianco etichette */
    gap:0.3rem;
    color: white;
    font-weight: 600;
}
.sale{
    background-color: rgb(255, 0, 0);
    padding: 0.3rem 1rem;
}
.green{
    background-color:rgb(0, 172, 0);
    padding: 0.3rem 1rem;
}
.desciption{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.3rem 0;
}
.red{
    color: red;
}
.strike{
    text-decoration: line-through;
}

/* ----------------------------FOOTER------------------------- */

footer{
    background-color: black;
    border-bottom: 1px solid white;
    padding:1.5rem 0;
    color:white;
}
#bottom{
    align-items: center;
    justify-content: space-between;
}
#social{
    gap:1rem;
    margin-top:0.5rem;
}
#menu{
    gap:1rem;
    margin-top:0.5rem;
    font-size: 0.8rem;
}