:root{
    /* posiziona le etichette */
    --pos_label:10%;

    /* numero card per ogni riga
    elimina "N3 checked" nell'html per farlo funzionare da qui */

    --n_card_f_row:3; 

    /* card gap da sottrarre al calcolo riga */
    --gap: 4%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a{
    color: white;
    text-decoration: none;
}
.boxed{
    margin: 0 auto;
    width: 70%;
    min-width: 600px;
}
.flexbox{
    display:flex;
}

/* ----------------------------HEADER------------------------- */
header{
    position: fixed;            /* l'header rimane bloccato in alto  */
    top:0;
    left:0;
    z-index:2;                  /* lo porto in alto così nulla si sovrappone */ 
    width: 100%;
    color:white;
    padding: 2rem 0;
    background-color: rgb(255, 123, 0);
    box-shadow: 0 0.1rem 0.6rem rgb(99, 99, 99);   /* aggiungo un'ombra */
}

/* posiziono gli elementi dell'header con position absolute rispetto al NAV relative */
#nav{
    position:relative;          
}
#reparti{
    position:absolute;
    top:50%;                      /* sposto l'elemento della metà dell'altezza del contenitore */
    left:0;
    transform: translateY(-50%);  /* centro l'elemento spostando in alto di metà altezza dell'elemento */
}
#reparti ul{
    gap: 0.8rem;
    font-weight: 800;
}
#logo{
    position:absolute;
    top:50%;                            /* sposto l'elemento della metà dell'altezza del contenitore */
    left:50%;                           /* sposto l'elemento della metà della larghezza del contenitore */
    transform: translate(-50%,-50%);    /* centro l'elemento spostando in alto e a sinistra di metà altezza dell'elemento */
}
#logo img{
    width:10rem;
}
#icons{
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}
#icons ul{
    gap:0.5rem;
}

/* ----------------------------MAIN------------------------- */

#shop{
    flex-wrap:wrap;
    margin: 7rem auto 3rem;
    gap: var(--gap);
}
.card{          /*calcolo grandezza percentuale a seconda di quante card voglio su una riga*/
    --flex: calc((100%/var(--n_card_f_row)) - var(--gap)); 
    flex:1 1 var(--flex);
    margin: 1rem 0;
}
.photo{
    position:relative;         /*  le immagini si posizionano a partire dal box contenitore .photo*/
}
.photo_A img{
    width: 100%;
}
.photo_B{
    position: absolute;         /* posiziono la seconda foto in modo che si sovrapponga alla prima */
    top:0;
    z-index: -1;                /* mando la foto sotto la prima */         
    inset: 0;                   /* fa si che la foto copra l'intera superficie */
}
.photo_B img{
    width: 100%;
}
.photo:hover .photo_B{
    z-index: 0;                 /* dichiarandolo dopo passa avanti photo_A */
}

/* ALTERNATIVA - FOTO_A DIVENTA TRASPARENTE
.photo:hover .photo_A{
    opacity: 0;
} 
*/

.photo_like{
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;         /* posiziono il "like" in alto a destra */
    top: calc(var(--pos_label)/2);
    right: 0;
}
.photo_like i:hover{            /*  quando passo sul cuore diventa rosso */
    cursor: pointer;
    color:red;                
}
.photo_label{
    position: absolute;        /*  posiziono l'etichetta in basso a sinistra */
    bottom: var(--pos_label);
    display: flex;             /* affianco etichette */
    flex-wrap: wrap;
    gap:0.3rem;
    color: white;
    font-weight: 600;
}
.sale{
    background-color: rgb(255, 0, 0);
    padding: 0.3rem 1rem;
}
.green{
    background-color:rgb(0, 172, 0);
    padding: 0.3rem 1rem;
}
.desciption{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.3rem 0;
}
.red{
    color: red;
}
.strike{
    text-decoration: line-through;
}

/* ----------------------------FOOTER------------------------- */

footer{
    background-color: black;
    border-bottom: 1px solid white;
    padding:1.5rem 0;
    color:white;
}
#bottom{
    align-items: center;
    justify-content: space-between;
}
#social{
    gap:1rem;
    margin-top:0.5rem;
}
#menu{
    gap:1rem;
    margin-top:0.5rem;
    font-size: 0.8rem;
}

/* ----------------------------CONTROLLER ELEMENTI PER RIGA------------------------- */

#control{
    position: fixed;           /*  controller fisso  */
    top:50%;
    left:0;
    transform: translateY(-50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#control label {                /*stile pulsanti*/
    background: #ccc;
    border: 2px solid #9b9b9b;
    border-top-right-radius: 1rem;
    padding: 0.6rem 1rem 1rem;
    cursor: pointer;
    margin-top:-1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}
#control label:last-child {
    border-bottom-right-radius: 1rem;
}

/* Rendo gli input radio invisibili, selezionabili dal label: for -> id */
input[type="radio"] {       
      display: none;
}
/* Accendo il label attivo tramite il relativo radio che lo precede direttamente ( selettore + )*/
#control input[type="radio"]:checked + label {
    border-color: rgb(206, 93, 0);
    background-color: rgb(255, 123, 0);
}

/* A seconda del bottone attivo dentro al controller cambia la variabile flex delle cards: 
":has" pseudo-selettore per i browser nuovi seleziona il padre
"~" seleziona i fratelli successivi dello stesso padre
"--" dichiara variabile*/
#control:has(#N1:checked) ~ .card { --n_card_f_row: 1; }
#control:has(#N2:checked) ~ .card { --n_card_f_row: 2; }
#control:has(#N3:checked) ~ .card { --n_card_f_row: 3; }
#control:has(#N4:checked) ~ .card { --n_card_f_row: 4; }
#control:has(#N5:checked) ~ .card { --n_card_f_row: 5; }
#control:has(#N6:checked) ~ .card { --n_card_f_row: 6; }
